#main{
  grid-column: 2;
  width: min(45rem,90%);
}

.top-bar {
  position: fixed;
  top: 0;
}

.content {
  position: fixed;
  width: min(45rem,90%);
  top: 3.15rem;
}

.content b,
.content p,
.content button,
.content blockquote {
  font-size: 0.9rem;
}

.exams {
  margin-top: "1.15rem";
}

.quiz-content {
  height: min(40rem, 70vh);
  overflow: scroll;
}


.quiz-options button {
  background: var(--bg);
  color: var(--text);
  text-align: left;
  width: 100%;
}

.quiz-options button:hover:enabled {
  background: var(--accent);
  color: var(--bg);
}

.quiz-content img {
  height: auto;
  width: min(30rem,100%);
}

.quiz-options {
  gap: 1.12rem;
  margin-top: 1.5rem;
}

.quiz-bottom {
  position: fixed;
  bottom: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  font-size: 0.9rem;
}

.quiz-bottom input {
  max-width: 6rem;
}

.exam-head {
  display: flex;
  justify-content: space-between;
}

.exam-head button {
  height: max-content;
  align-self: center;
}
